[submodule "web_database/camagru"]
	path = web_database/camagru
	url = git@github.com:STC71/42_camagru.git
[submodule "web_database/darkly"]
	path = web_database/darkly
	url = git@github.com:STC71/42_darkly.git
[submodule "piscine_pedago_ciber"]
	path = piscine_pedago_ciber
	url = git@github.com:STC71/42_piscine_pedago_ciber.git
[submodule "artificial_intelligence"]
	path = artificial_intelligence
	url = git@github.com:STC71/42_artificial_intelligence.git
[submodule "unix_kernel"]
	path = unix_kernel
	url = git@github.com:STC71/42_unix_kernel.git
[submodule "virus"]
	path = virus
	url = git@github.com:STC71/42_virus.git
