[submodule "artificial_intelligence/dslr"]
	path = artificial_intelligence/dslr
	url = git@github.com:STC71/42_dslr.git
[submodule "artificial_intelligence/ft_linear_regression"]
	path = artificial_intelligence/ft_linear_regression
	url = git@github.com:STC71/42_ft_linear_regression.git
[submodule "unix_kernel/libasm"]
	path = unix_kernel/libasm
	url = git@github.com:STC71/42_libasm.git
[submodule "web_database/camagru"]
	path = web_database/camagru
	url = git@github.com:STC71/42_camagru.git
[submodule "artificial_intelligence/multilayer-perceptron"]
	path = artificial_intelligence/multilayer-perceptron
	url = git@github.com:STC71/42_multilayer-perceptron.git
[submodule "virus/dr-quine"]
	path = virus/dr-quine
	url = git@github.com:STC71/42_dr-quine.git
[submodule "web_database/darkly"]
	path = web_database/darkly
	url = git@github.com:STC71/42_darkly.git
